[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
pint = "*"
numba = "*"
future = "*"
"h5py" = "*"
xlwt = "*"
xlrd = "*"
xlutils = "*"

[dev-packages]

[requires]
python_version = "2.7"
