# apt-get
# python-scipy
# python3-scipy
# qt5-default
# python-pyqt5
# python-pyqt5.qtmultimedia
# python-pyqt5.qtquick
# python-pyqt5.qtsvg
# python3-mksgpack
# python3-pyqt5
# python3-pyqt5.qtmultimedia
# python3-pyqt5.qtquick
# python3-pyqt5.qtsvg

# ui support
# qtdeclarative5-dev
# qml-module-qtquick-controls
# qml-module-qtquick-dialogs
# qml-module-qtgraphicaleffects

# archlinux use pacman
# qt5-base
# qt5-svg
# qt5-graphicaleffects
# python-pyqt5


# pip
numpy>=0.8
scipy>=0.3
pint>=0.8.1
numba>=0.24.0
qtconsole

# qao.devices.mecom
PyCRC
pyserial
